@import url('https://fonts.googleapis.com/css?family=Kaushan+Script');
body {
    margin-left: 50px;
    margin-right: 50px;
    margin-top: 0px;
    background-image: url("images/background.gif");
    background-attachment: fixed;
    background-position: center 80%;
    background-repeat: no-repeat;
    background-size: cover;
}

.banner {
    position: fixed;
    text-align: center;
    align-content: center;
    font-family: 'Kaushan Script', cursive;
    color: #1E1C4E;
    border: 2px solid #DADADA;
    background-color: rgba(18, 119, 133, 0.66);
    width: 90%;
    height: 90px;
    padding-top: 10px;
}

.header {
    align-content: center;
    text-align: center;
    color: rgb(62, 39, 66);
    font-family: 'Kaushan Script', cursive;
    font-size: 30px;
    padding-top: 20px;
}

.logo {
    position: absolute;
    align-content: center;
    text-align: center;
    width: 330px;
    height: 80px;
    top: 0;
}

.side {
    position: absolute;
    text-align: right;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: #1E1C4E;
    font-size: 25px;
    left: 690px;
    border: 2px solid #DADADA;
    background-color: rgba(0, 195, 255, 0.5);
    width: 25%;
    height: auto;
    top: 120px;
    padding-top: 10px;

}

.content {
    position: absolute;
    text-align: left;
    font-family: 'Times New Roman', Times, serif;
    color: #1E1C4E;
    font-size: 20px;
    border: 2px solid #DADADA;
    background-color: rgba(212, 138, 255, 0.66);
    width: 60%;
    height: auto;
    top: 120px;
    padding-top: 10px;
}


.footer {
    text-align: left;
    font-family: 'Kaushan Script', cursive;
    font-size: 15px;
    position: absolute;
    width: 100%;
    right: 0;
    left: 0;
    bottom: 0;
    padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 30px;
    border: 1px solid #000000;
    background-color: rgba(0, 0, 0, 0.48);
}